#main_container{
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 90%;
  
    padding: 50px 0 77px 0;
    margin-bottom: 100px;
}

main > h1 {
    text-align: center;
    color: var(--color-paragraphs);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin-top: 50px;
}

label {
  color: var(--color-paragraphs);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="text"],
textarea, input[type="number"] {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;

  resize: vertical;
}

input[type="number"]{
  max-width: 20%;
  appearance: none;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  
}




input[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0069d9;
}

input[type="file"]{
    color: var(--color-paragraphs);
    margin-bottom: 15px;
}

select{
    height: 100px;
    margin-bottom: 10px;
}
.error {
  color: red;
  margin-bottom: 1rem;
}

#image_preview, #new_image_preview{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;

    max-width: 500px;
    max-height: 500px;
}