footer{
    background-color: var(--color-navbar-background);
    color: var(--color-navbar-text);

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;

}