#main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* ########################## Barre de recherche ########################## */

#filters_container {
  position: relative;
  margin: 50px 0;
  width: 100%;
  display: flex;
  align-items: center;
}

#search_container {
  position: absolute;
  right: 70px;

  display: flex;
  align-items: center;

  height: 40px;
  min-width: 240px;
  border-radius: 8px;

  background-color: var(--third-color);
}

#search_input {
  flex: 1;
  background-color: transparent;
  border: none;

  padding: 0 10px;
  font-size: 0.8rem;
}

#search_input:focus {
  outline: none;
}

button[type="submit"] {
  height: 100%;
  width: 10%;
  background-image: url("assets/logos/search.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;

  border: none;

  margin: 0 5px;
}

button[type="submit"]:hover {
  cursor: pointer;
}

#filters {
  display: none;
}

#add_seed_btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--secondary-color);
  color: var(--color-titles);
  font-weight: bold;
  position: absolute;
  left: 50px;

  border-radius: 4px;
  height: 40px;
  width: 160px;

  transition: 0.6s;
}

#add_seed_btn:hover {
  cursor: pointer;
  background-color: var(--third-color);
}

/* ########################## Contenu principal ########################## */

#seeds_container {
  border-radius: 4px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  width: 80%;

  margin-bottom: 70px;
}

.seed {
  position: relative;

  width: 300px;
  height: 270px;
  border-radius: 140px 140px 12px 12px;

  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.seed_image {
  height: 80%;
  width: 80%;
}

.seed_name_container {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 30%;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.seed_name_container:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* .seed{
    color: var(--color-paragraphs);
    width: 300px;
    height: 270px;
    border-radius: 6px;
    padding: 10px;

    background-color: var(--color-seeds-container-background);
}


.light_text{
    color: var(--color-ligth-text);
    font-weight: lighter;
}

.bold{
    font-weight: bold;
}

.admin_buttons{
    border-radius: 4px;
    background-color: var(--color-navbar-background);
    margin: 5px;
    padding: 0 5px;
} */
