@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --navbar-height: 70px;
    --footer-height: 50px;

    --color-background: #F4F4F4;
    --color-paragraphs: black;
    --color-titles: #ffffff;
    --color-ligth-text: #A0A0A0;
    --color-links: #00aeff;

    --color-navbar-background: #52B788;
    --color-navbar-text: #FFFFFF;

    --color-seeds-container-background: #E2DCCB ;
    --color-seeds-container-border: #E2DCCB ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 100vw;
    min-height: 100vh;

    background-color: var(--color-background);
    color: var(--color-text-base);
}


#main_container{
    position: relative;
    width: 100%;
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

.error{
    position: absolute;
    top: 0;

    width: 100%;
    text-align: center;

    padding: 10px 0;
    background-color: rgba(255,0,0,0.55);
}

@media screen and (prefers-color-scheme: dark) {
    :root{
        --color-background: #121214;
        --color-paragraphs: #e1e1e6;
        --color-titles: #e1e1e6;
    }

}

